/* Sizing and margins for boxes for entire webpage */

* {
    box-sizing: border-box;
    
    margin: 0;
}

/* Background color for entire body section */

body {
    background-color: #d9dcd6;
}

/* Styling elements for main header section */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Styling elements for the main text in the left side of the main header */

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Text Color for "SEO" in the main text in the left side of the main header */

.header h1 .seo {
    color: #d9dcd6;
}

/* Styling elements for the text links in the right side of the main header */

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Orientation of text Links in the right side of main header */

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Styling elements for text links in the right side of the main header */

a {
    color: #ffffff;
    text-decoration: none;
}

/* Font sizing for paragraphs */

p {
    font-size: 16px;
}

/* Styling elements for the main image in the webpage */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Styling elements for the text in the "Search Engine Optimization" Block */

.float-left {
    float: left;
    margin-right: 25px;
}

/* Styling elements for the image in the "Online Reputation Management" Block */

.float-right {
    float: right;
    margin-left: 25px;
}

/* Main Styling elements for the "Search Engine Optimization" "Online Reputation Management" "Social Media Marketing" Blocks */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Styling elements for the right side bar */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    
}

/* Styling elements for spacing in all blocks of the right side bar */

.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Styling elements for the text in all blocks of the right side bar */

.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styling elements for the image in all blocks of the right side bar */

.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Main styling elements for all navigation blocks on the left */

.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Styling elements for the images in all navigation blocks on the left */

.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/* Styling elements for the text in all navigation blocks on the left */

.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Styling elements and spacing within the footer section */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Text sizing within the footer section */

.footer h4 {
    font-size: 20px;
}
